html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {font-family: "Mulish", sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Сброс силей */



html {
    scroll-behavior: smooth;
}
*{
	font-family: 'Mulish', sans-serif;
}
body::-webkit-scrollbar {
	display: none;
}
header{
	font-size: 16px;
	height: 100vh;
	background-image: url('./img/bg1.png');
	background-repeat: no-repeat;
	background-size: 100%;
	color: #fff;
	padding: 2em 5em;
}
b {
	font-weight: bold;
}
.header-nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
}
.header-logo {
	display: flex;
	align-items: center;
	gap: 1em;
}
.logo1 {
	width: 5em;
}
.logo2 {
	height: 1em;
}
nav ul {
	display: flex;
	flex-wrap: wrap;
	gap: 3em;
	font-size: 1.5em;
}
nav ul a{
	text-decoration: none;
	color: inherit;
	padding: 0.25em 0.8em;
	border: none;
	border-radius: 4em;
}

nav ul li a:hover {
	background-color: #FFB1C8;
	color: #280B20;
	transition: all 0.3s ease-in-out;
  }

header span{
	font-size: 1.5em;
	position: absolute;
	display: flex;
	align-items: center;
	right: 5em;
	top: 15em;
	gap: 1em;
	color: #fff;
}
.dost{
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 0;
	margin: 10em 0em;
	gap: 1em;
}
.dost h1{
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 1.2em;
}
.dost h2{
	font-size: 1.5em;
}


.services{
	display: flex;
	flex-direction: column;
	gap: 3em;
	font-size: 16px;
	background-color: #fff;
	padding: 6em 5em 10em 5em;
}
.services h1{
	color: #F380A1;
	font-size: 2.1em;
	font-weight: 700;
	text-transform: uppercase;
}
.services-column{
	display:flex;
	justify-content: space-between;
	gap: 10em;
}
.service-description{
	display: flex;
	align-items: center;
	gap: 1em;
}
.service-description span{
	color: #F380A1;
	font-weight: 600;
	font-size: 5em;
}
.service-description p{
	font-size: 1.25em;
	color: #280B20;
}



.contact {
	position: relative;
	font-size: 16px;
	height: 80vh;
	background-image: url('./img/bg2.png');
	background-repeat: no-repeat;
	background-size:cover;
	color: #fff;
	padding: 2em 5em;
  }
  .contact span {
	font-size: 1.5em;
	position: absolute;
	display: flex;
	align-items: center;
	right: 3em;
	top: 8em;
	gap: 1em;
	width: 24.5em;
	color: #fff;
  }
  
  .form-container {
	position: absolute;
	bottom: 6em;
	
  }
  
  .form-container h1 {
	font-size: 2.5em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.2em;
  }
  
  .form-card {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 1.5em;
	background-color: #fff;
	padding: 1em 3em;
	margin-top: 3em;
	width: 95%;
  }
  .form-card {
	box-shadow: 4px 4px 19px #C241667D;
  }
  
  form {
	display: flex;
	align-items: center;
	margin: auto;
	gap: 2em;
	margin-top: 0.5em;
  }
  
  label {
	color: #7e868e;
  }
  form input {
	font-size: 1.5em;
	background-color: #fde4ea;
	border: none;
	border-radius: .6em;
	padding: 1em 2em;
	margin-top: 1em;
  }
  form button {
	width: 15em;
    font-size: 1.5em;
    background-color: #F380A1;
    color: #fff;
    border: none;
    border-radius: .6em;
    padding: 1em 3em;
    margin-top: 1em;
}
  .check {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
  }

  
  
.primes{
	display: flex;
	flex-direction: column;
	gap: 3em;
	font-size: 16px;
	background-color: #fff;
	padding: 6em 5em 2em 5em;
}
.primes h1{
	color: #F380A1;
	font-size: 2.1em;
	font-weight: 700;
	text-transform: uppercase;
}
.primes-column{
	display:flex;
	justify-content: space-between;
	gap: 3em;
	margin: 2em 0 0 0;
	padding: 0 3em;
}
.primes-description{
	display: flex;
	align-items: center;
	gap: 1em;
	width: 22em;
}


.items{
	display: flex;
	flex-direction: column;
	gap: 3em;
	font-size: 16px;
	background-color: #fff;
	padding: 5em 5em 5em 5em;
}
.items h1{
	color: #F380A1;
	font-size: 2.1em;
	font-weight: 700;
	text-transform: uppercase;
}
.items-slider{
	display: flex;
	justify-content: space-between;
}
.item-card{
	display: flex;
	flex-direction: column;
	gap: 1em;
	border: 4px solid #FDE4EA;
	border-radius: 1.5em;
	width: 20em;
}
.item-card h2, span{
	font-weight: 500;
	color: #280B20;
}
.item-card label{
	text-align: center;
}
.item-card img{
	background-color:#FDE4EA;
	padding: 1em;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}
.item-description{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1em;
	padding: 0em 2em 1.5em 2em;
}


.location{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0em;
	font-size: 16px;
	background-color: #fff;
	padding: 0em 5em 0em 5em;
	margin: 0 auto 5em auto;
}

.left-column{
	display: flex;
	flex-direction: column;
	gap: 2em;
	order: 0;
}

.left-column h1{
	color: #F380A1;
	font-size: 2.1em;
	font-weight: 700;
	text-transform: uppercase;
}

.left-column h2{
	font-size: 1.5em;
	width: 25em;
	line-height: 1.2em;
}

.right-column img{
	height: 40em;
	border-radius: 32px;
}

footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FDE4EA;
	color: #280B20;
	padding: 5em 5em;
	margin: 0 auto;
}
.footer-logo img{
	height: 1.5em;
}
.footer-ul{
	display: flex;
	flex-direction: column;
	gap: 1em;
}

footer h2{
	font-size: 1.2em;
	line-height: 1.5em;
	font-weight: 400;
}